<html>
<head></head>
<body>
<h1>Books</h1>
{% for i in books %}
	<p>{{ i.title }}<br>
	<a href="{{url_for('editBook', book_id=i.id)}}">Edit book</a></b><br>
	<a href="{{url_for('deleteBook', book_id=i.id)}}">Delete book</a></b>
	</p>
{% endfor %}
</body>
</html>